/* Fonts */
@font-face {
  font-family: Destruct;
  src: url(../fonts/GrungeTank.otf);
}

@font-face {
  font-family: London;
  src: url(../fonts/LondonTwo.ttf);
}

@font-face {
  font-family: Manyeto;
  src: url(../fonts/MANDINGA.TTF);
}

h1 {
  font-family: Destruct;
  letter-spacing: 5px;
  font-size: 100px;
  text-shadow: 1px 1px black;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}

.header {
  color: #f7d45f;
}

.header2 {
  color: #f7d45f;
}

p {
  font-family: Manyeto;
  text-shadow: 0.75px 0.75px black;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

.bodyTitle {
  font-size: 21px;
  color: #840909;
}

.bodyText {
  color: #F8E6D7;
  width: 45%;
}

.pAdjust {
  width: 70%;
}

/* Background Colors */
.demo-1 .bg1 .sl-slide-inner,
.demo-1 .bg1 .sl-content-slice {
	background: radial-gradient(circle at top right, #40403A, rgba(13,13,12, 0.88));
}

.demo-1 .bg2 .sl-slide-inner,
.demo-1 .bg2 .sl-content-slice  {
	background: radial-gradient(circle at top right, #030D29, rgba(6,4,64, 0.88));
}

.demo-1 .bg3 .sl-slide-inner,
.demo-1 .bg3 .sl-content-slice  {
	background: radial-gradient(circle at top right, #767272, #C1A3A3);
}

.demo-1 .bg4 .sl-slide-inner,
.demo-1 .bg4 .sl-content-slice  {
	background: radial-gradient(circle at top right, #5F5151, #BC8E8E);
}

.divSize {
  width: 100%;
  margin: 0 10px 0 10px;
}

/* Positioning */
.spacing {
  margin-top: 100px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyPG {
  text-align: left;
  margin-left: 10%;
  width: 40%;
}

/* For Map */
.mapPos {
    width: 65%;
    margin-right: 10%;
    padding: 0;
    align-items: center;
}

#us-map{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}
path:hover, circle:hover {
  stroke: black !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #911D1D !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #F8E6D7;
  border: 2px solid #840909;
  color: #840909;
  box-shadow: 1px 1px black;
  border-radius: 5px;
  padding: 5px;
  font-family: Manyeto;
  font-size: 16px;
  text-align: center;
}

/* Images */
.demo-1 .deco {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: static;
    margin-bottom: 25px;
    margin-top: 50px;
}

img {
  width: 100%;
  text-align: center;
}

.swirl {
  width: 150px;
  height: 150px;
  padding: 25px;
}

.map {
  width: 75%;
  text-align: center;
  margin-top: 0;
}

.center {
  display: flex;
  align-items: center;
}

/* Graph */
.bar1 {
  width: 200px;
  height: 375px;
  background: yellow;
  border: 5px solid black;
  box-shadow: 1px 1px 10px;
}

.flex3:hover {
  cursor: pointer;
  background: #840909;
}

.myDropCap {
  width: 20%;
  height: auto;
}

.bar2 {
  width: 200px;
  height: 375px;
  background: orange;
  border: 5px solid black;
  box-shadow: 1px 1px 10px;
}

.bar3 {
  width: 200px;
  height: 200px;
  background: purple;
  border: 5px solid black;
  box-shadow: 1px 1px 10px;
}

.bar4 {
  width: 200px;
  height: 160px;
  background: blue;
  border: 5px solid black;
  box-shadow: 1px 1px 10px;
}

.swirl:hover {
  width: 175px;
  height: 175px;
  padding: 12.5px;
}

.demo-1 .sl-slide .paraWidth blockquote p {
	margin: 0 auto;
	width: 25%;
	/* max-width: 400px; */
	position: relative;
}

/* For Quiz */
.ysquiz {
  font-family: London;
  font-size: 21px;
  line-height: 25px;
  color: #D0D1AA;
}

.ysquiz .ysquiz-content .ysquiz-question button {
  font-family: London;
  font-size: 28px;
  padding: 10px;
  border-radius: 5px;
  background: gradient(#40403A, rgba(13,13,12, 0.88));
  color: #D0D1AA;
  border: none;
}

@media (max-width: 982px) {
  /* For First Slide */
  h1 {
    font-size: 45px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }

  .body1 {
    width: 60%;
  }

  /* For Second Slide */
  .mapPos {
    display: none;
  }

  .storyPG {
    text-align: center;
    margin: 0;
    width: 60%;
  }
}
