/* Fonts */
@font-face {
  font-family: Destruct;
  src: url(../fonts/GrungeTank.otf);
}

@font-face {
  font-family: London;
  src: url(../fonts/LondonTwo.ttf);
}

@font-face {
  font-family: Manyeto;
  src: url(../fonts/MANDINGA.TTF);
}

h1 {
  font-family: Destruct;
  letter-spacing: 5px;
  font-size: 100px;
  text-shadow: 1px 1px black;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}

.header {
  color: #f7d45f;
}

.header2 {
  color: #f7d45f;
  margin-bottom: 100px;
}

.header3 {
  color: #f7d45f;
}

p {
  font-family: Manyeto;
  text-shadow: 0.75px 0.75px black;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

.bodyTitle {
  font-size: 21px;
  color: #840909;
}

.bodyText {
  color: #F8E6D7;
  font-size: 21px;
  width: 45%;
}

.anBodyText {
  color: #F8E6D7;
  font-size: 18px;
  width: 45%;
}

.bodyTitle2 {
  color: #F8E6D7;
  font-size: 24px;
}

.bodyText2 {
  text-align: left;
  margin: 0;
  padding: 15px;
  background: rgba(31,29,29, 0.8);
  color: #F8E6D7;
  width: 100%;
}

.bodyTitle3 {
  color: #f7d45f;
  font-size: 24px;
}

.bodyText3 {
  color: #F8E6D7;
}

/* Background Colors */
.demo-1 .bg1 .sl-slide-inner,
.demo-1 .bg1 .sl-content-slice  {
	background: radial-gradient(circle at top right, #767272, #C1A3A3);
}

.demo-1 .bg2 .sl-slide-inner,
.demo-1 .bg2 .sl-content-slice  {
	background: radial-gradient(circle at top right, #5F5151, #BC8E8E);
}

.demo-1 .bg3 .sl-slide-inner,
.demo-1 .bg3 .sl-content-slice {
	background: radial-gradient(circle at top right, #1F1D1D, #937272);
}

.demo-1 .bg4 .sl-slide-inner,
.demo-1 .bg4 .sl-content-slice  {
	background: radial-gradient(circle at bottom right, #BC8E8E, #5F5151);
}

/* Positioning */
.spacing {
  margin-top: 100px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyPG {
  text-align: left;
  margin-left: 10%;
  width: 40%;
}

.divSize {
  width: 100%;
  margin: 0 10px 0 10px;
}

/* For Map */
.mapPos {
    width: 65%;
    margin-right: 10%;
    padding: 0;
    align-items: center;
}

#us-map{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #F8E6D7;
  border: 2px solid #840909;
  color: #840909;
  box-shadow: 1px 1px black;
  border-radius: 5px;
  padding: 5px;
  font-family: Manyeto;
  font-size: 16px;
  text-align: center;
}

/* Images */
.demo-1 .deco {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: static;
    margin-bottom: 25px;
    margin-top: 50px;
}

img {
  width: 100%;
}

.swirl {
  width: 150px;
  height: 150px;
  padding: 25px;
}

.swirl2 {
  width: 150px;
  height: 150px;
  padding: 25px;
  margin-bottom: 25px;
}

.map {
  width: 75%;
  text-align: center;
  margin-top: 0;
}

.center {
  display: flex;
  align-items: center;
}

/* Graph */
.bar1 {
  width: 200px;
  height: 375px;
  background: #B7A466;
  border: 3px solid black;
  box-shadow: 0.5px 0.5px black;
}

.bar2 {
  width: 200px;
  height: 375px;
  background: #958550;
  border: 3px solid black;
  box-shadow: 0.5px 0.5px black;
}

.bar3 {
  width: 200px;
  height: 200px;
  background: #817342;
  border: 3px solid black;
  box-shadow: 0.5px 0.5px black;
}

/* Hover States */
path:hover, circle:hover {
  stroke: black !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #911D1D !important;
  cursor: pointer;
}

.swirl:hover {
  width: 175px;
  height: 175px;
  padding: 12.5px;
}

.flex3:hover {
  cursor: pointer;
  background: #840909;
}

.demo-1 .sl-slide .paraWidth blockquote p {
	margin: 0 auto;
	width: 25%;
	position: relative;
}

/* For Quiz */
.ysquiz {
  font-family: Manyeto;
  font-size: 16px;
  line-height: 25px;
  color: #F8E6D7;
  text-shadow: 1px 1px black;
}

.ysquiz .ysquiz-content .ysquiz-question button {
  font-family: Manyeto;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  background: #F8E6D7;
  color:#840909;
  border: 2px solid #840909;
  box-shadow: 1px 1px black;
}

.ysquiz .ysquiz-content .ysquiz-question button:hover {
  background: #840909;
  color: #F8E6D7;
}

/* Hiding Items */
.firHide {
  display: none;
}

/* The Arrows */
.nav-arrows span {
  border: 8px solid rgba(247,212,95, 0.4);
}

/* Media Queries */
@media (max-width: 982px) {
  .spacing {
    margin-top: 55px;
  }

  /* For First Slide */
  .demo-1 .deco {
    margin-bottom: 0;
  }

  img {
    width: 75%;
  }

  .header {
    font-size: 45px;
  }

  .bodyText {
    font-size: 18px;
    width: 75%;
  }

  p {
    font-size: 14px;
  }

  .body1 {
    width: 60%;
  }

  /* For Second Slide */
  .mapPos {
    display: none;
  }

  .storyPG {
    text-align: center;
    margin: 0;
    width: 60%;
  }

  /* For Third Slide */
  .header2 {
    font-size: 72px;
  }

  .bodyTitle2 {
    font-size: 16px;
  }

  /* For Fourth Slide */
  .header3 {
    font-size: 72px;
    margin-bottom: 25px;
  }

  /* For Fifth Slide */
  .swirl2 {
    margin-bottom: 5px;
  }

  /* Hiding Items */
  .firHide {
    display: block;
  }

  .secHide {
    display: none;
  }
}

@media (max-width: 1045px) {
  /* For Second Slide */
  .anBodyText {
    font-size: 16px;
  }
}
